<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  
    <style type="text/css">

        #delete{margin-left: 41%}
        .form{text-align: left;line-height: 38px;}
        .p{font-size: 35px;}
        .button{width: 140px;height: 40px;border-radius: 60px; margin-top: 13px}
        text{size: 13px;}
    </style>

    <title>图书入库</title>
</head>
<body>
<div id="delete">

    <el-button type="primary">Primary</el-button>
    <b class="p">图书报废</b><br><br>
    <form class="form" action="delete_a_book" method="get">
        <div>图书编号：<input th:name="code"></div>
        <input type="submit" value="报废" class="button">
    </form>
</div>
</body>
<script>

</script>
</html>