<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        #put{margin-left: 41%}
        .form{text-align: left;line-height: 38px;}
        .p{font-size: 35px;}
        .button{width: 140px;height: 40px;border-radius: 60px; margin-top: 13px}
        text{size: 13px;}
    </style>
    <title>新建图书</title>
</head>
<body>
<div id="put">
    <b class="p">图书上架</b><br><br>
    <form class="form" action="put_book_into_shelf" method="get">
        <input type="hidden" th:name="field_name" th:value="${field_name}">
        <input type="hidden" th:name="field_value" th:value="${field_value}">
        <input type="hidden" th:name="page_size" th:value="${page_size}">
        <input type="hidden" th:name="current_page" th:value="${current_page}">
        <input type="hidden" th:name="code" th:value="${code}">
        <div>图书编号：<label th:text="${code}"></label></div>
        <div>书架号：<select th:name="shelf_id">
            <option th:each="shelf: ${shelf_list}"
                    th:value="${shelf.shelf_id}"
                    th:text="${shelf.pos}+'`'+${shelf.shelf_code}">
            </option>
        </select></div>
        <input type="submit" value="上架" class="button">
    </form>
</div>
</body>
</html>